* {
    margin: 0;
    padding: 0;
    font-family: 微軟正黑體;
}
/* 導覽列 */
nav {
    display: grid;
    grid-template-columns: 20% 70% 10%;
    background: #eee;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 15%);
    padding: 20px 50px;
    /* 格限用的垂直對齊 */
    align-items: center;
    /* 定位:固定式-寬度會不見 */
    position: fixed;
    /* 上方位置 */
    top: 0px;
    width: 100%;
    z-index: 3;
    opacity: 0.9;
}

#logo img{
    width: 50px;
}

#link a {
padding: 0 35px;
text-decoration: none;
font-weight: 900;
color: #999;
/* 滑入畫面 */
transition: 0.5s;
}
/* link導覽列連結處 */
#link a:hover {
    color: #226641;
}

/* 最新商品 */
/* banner裡的div */
/* 元素1 元素2 - 在元素1 內 所有的 元素 2 */
#banner div {
    /* 高度100vh 螢幕高度 */
    height: 100vh;
}

.banner1 {
    background-image: url(./img/coffee01\ \(1\).jpg);
}
.banner2 {
    background-image: url(./img/coffee02\ \(1\).jpg);
}
.banner3 {
    background-image: url(./img/coffee03\ \(1\).jpg);
}

#banner {
    text-align: center;
    color: #fff;
}

#banner h1 {
    padding: 30px;
    margin-top: 200px;
    font-size: 120px;
    text-shadow: 0 5px 5px rgba(0, 0, 0, 2)
}

#banner p {
    padding: 30px;
    text-shadow: 0 1px 5px rgba(0, 0, 0, 2);
}

#banner hr {
    width: 80%;
    margin: 0 auto;
    height: 2px;
    background: #fff;
    border: none;
}

#banner .slick-prev {
    left: 50px;
    z-index: 2;
    transform: scale(1.5);
}

#banner .slick-next {
    right: 50px;
    z-index: 2;
    transform: scale(1.5);
}

#banner .slick-dots {
    bottom: 25px;
}

/* 商品類型 */
#products {
    width: 1280px;
    margin: 0 auto;
}

#products > div {
    display: grid;
    grid-template-columns: 60% 40%;
}

/* 因id為"#"符號；class為"."符號 */
#products .pic img {
    width: 100%;
    height: 350px;
    object-fit: cover;
}

#products .text{
    padding: 150px 20px 0 0;
}

#products .text h1 {
    padding: 30px 0;
}

#products .text p {
    width: 300px;
    line-height: 2;
    padding-bottom: 10px;
}

/* 元素內要選取變動的地方:nth-child(第幾項) */
/* 若想選擇多項可依照奇數偶數輸入 奇數:odd 偶數:even */
#products > div:nth-child(2) {
    grid-template-areas: "pic text";
    grid-template-columns: 60% 90%;
}
/* grid-area可將區塊分為小區塊命名，最後在於區塊如上方 grid-template-areas: "pic text" 輸入順序 */
#products > div:nth-child(2) .text{
    grid-area: text;
}
#products > div:nth-child(2) .pic{
    grid-area: pic;
}

/* 按鈕樣式 */
.button {
    padding: 8px 30px;
    border: 1px solid #226641;
    color: #226641;
    transition: 0.5s;

}
.button:hover {
    background: #226641;
    color: #fff
}

/* 門市資訊 */
#info {
    display: grid;
    /* repeat(數量，寬度 )*/
    /* fr 格子 */
    grid-template-columns: repeat(3, 1fr);
    /* 僅限於reapeat時可適用gap */
    grid-gap: 20px;
    width: 1280px;
    margin: 20px auto 0 ;
}

#info > .pic img {
    width: 100%;
    height: 350px;
    object-fit: cover;
}

#info .text h1 {
    padding: 30px 0;
}

#info .text p{
    padding: 20px 0;
}

/* 其他服務 */
/* 小輪播圖 */
#service {
    width: 1280px;
    margin: 0 auto;
    margin-top: 100px;
}

/* focus 聚焦:瀏覽器選取此元素時*/
#service div:focus{
    outline: none;
}
/* 圖片大小與圓 */
#service img {
    width: 300px;
    height: 300px;
    /* 50% 寬膏要相同 */
    /* 圓 */
    border-radius: 50%;
    object-fit: cover;
    /* 顯示模式:區塊 */
    display: block;
    /* 區塊元素block */
    margin: 0 auto;
    transition: 0.5s;
}
/* hover 動態滑入 */
#service img:hover {
    /* 圓角 */
    border-radius: 5px;
}

#service h2 {
    text-align: center;
    margin-top: 10px;
    color: #aaa
}

/* 頁尾 */

footer {
    background: #f6f6f6;
    margin-top: 100px;
    text-decoration: none;
    padding: 30px;
    text-align: center;
}

#footer-link {
    padding: 20px 0;
}

#footer-link a {
    color: #226641;
    text-decoration: none;
    padding: 0 20px;
}

#footer-social {
    padding: 0 20px;
}

#contact {
    color: #999;
    font-size: 10px;
    padding: 0 20px;
}

#copy {
    color: #226641;
    font-size: 10px;
    padding: 0 20px;
}